/* 텍스트 숨기기 *부모설정 필요* */
.txt_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* 빛나는 효과 */
.blur_light {
  padding: calc(55.55555555555556vh / 2); /* 600px */
  border-radius: 50%;
  background-color: rgba(34, 34, 34, 0.3);
  box-shadow: inset 0 0 5px 10px #fff;
  filter: blur(30px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 커스텀 커서 custom cursor */
#custom_cursor {
  /* padding:calc(120px / 2); */
  display: block;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
  pointer-events: none;
  user-select: none;
  mix-blend-mode: overlay;
  filter: blur(10px);
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 99999;
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
  transition: padding 0.5s ease-out;
}


/* 탑버튼 top button */
#topBtn{
  padding: calc(3.6458vw / 2); /* 70px */
  position: fixed;
  right: 2.6042vw; /* 50px */
  bottom: 2.6042vw; /* 50px */
  cursor: pointer;
  background-image: url(../images/common/top_button.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 99999;
}

.inner {
  width:100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
