@charset "UTF-8";
main section {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #111;
}
main #visual {
  height: 500vh;
  position: relative;
}
main #visual video.visual_bg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
  position: sticky;
  left: 0;
  top: 0;
}
main #visual .inner {
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-bottom: 22.2222vh; /* 240px */
}
main #visual .inner div.intro_txt {
  width: 100%;
  padding: 0 11.1111111111vh; /* 120px */
  color: #fff;
  position: sticky;
  left: 0;
  top: 41.1111111111vh; /* 444px */
}
main #visual .inner div.intro_txt h2.visual_title {
  width: fit-content;
  font-family: "JalnanGothic";
  font-size: 37.037vh; /* 400px 37.0370vh */
  margin-left: auto; /* 300px */
  padding-top: 25vh; /* 240px */
  transform: translateX(10%);
}
main #visual .inner div.intro_txt p {
  margin-top: 5.5555555556vh; /* 60px */
  color: rgba(255, 255, 255, 0.2);
}
main #visual .inner div.intro_txt p span {
  display: block;
  font-size: 2.7777777778vh; /* 30px */
  position: relative;
  width: max-content;
  background: linear-gradient(to right, #fff, #fff) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
}
main #con1_3r {
  width: 100%;
  height: 600vh;
}
main #con1_3r .outer {
  width: 100%;
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  overflow: hidden;
}
main #con1_3r .outer .bg_img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
main #con1_3r .outer .bg_img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  background: radial-gradient(circle, #555 0%, #000 50%);
  opacity: 0.5;
}
main #con1_3r .outer .bg_img ul {
  width: 100%;
  height: 100%;
  position: relative;
}
main #con1_3r .outer .bg_img ul li {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(130%);
  transition: transform 3s, opacity 0.5s;
  opacity: 0;
}
main #con1_3r .outer .bg_img ul li.on {
  opacity: 1;
}
main #con1_3r .outer .bg_img ul li.remember {
  background-image: url(../images/index/con1_3r_rememberBg.png);
}
main #con1_3r .outer .bg_img ul li.rescue {
  background-image: url(../images/index/con1_3r_rescueBg.png);
}
main #con1_3r .outer .bg_img ul li.recycle {
  background-image: url(../images/index/con1_3r_recycleBg.png);
}
main #con1_3r .outer .inner {
  width: 100%;
  height: 100%;
  z-index: 9;
}
main #con1_3r .outer .inner .desc_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
}
main #con1_3r .outer .inner .desc_wrap ul.desc_list {
  width: fit-content;
  height: 100%;
  display: flex;
  position: absolute;
  transition: 0.5s;
}
main #con1_3r .outer .inner .desc_wrap ul.desc_list li {
  width: 33.3333333333vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main #con1_3r .outer .inner .desc_wrap ul.desc_list li.on h3 {
  font-family: "JalnanGothic";
  font-size: 3.125vw; /* 60px */
  line-height: 1.5;
  letter-spacing: 0.2083vw; /* 4px */
  color: #fff;
}
main #con1_3r .outer .inner .desc_wrap ul.desc_list li.on p {
  opacity: 1;
  display: block;
}
main #con1_3r .outer .inner .desc_wrap ul.desc_list li h3 {
  font-weight: 900;
  font-size: 2.0833vw; /* 40px */
  color: rgba(255, 255, 255, 0.7);
}
main #con1_3r .outer .inner .desc_wrap ul.desc_list li p {
  width: fit-content; /* 560px */
  font-size: 18px; /* 0.9375vw */
  line-height: 1.9; /* 35px */
  margin: 0 auto;
  margin-top: 1.5625vw; /* 30px */
  color: #fff;
  word-break: keep-all;
  word-wrap: break-word;
  opacity: 0;
}
main #con2_shop .inner {
  width: 87.5vw; /* 1680px */
  color: #fff;
}
main #con2_shop .inner .product_wrap {
  width: 42.188vw; /* 810px */
  position: absolute;
  right: 2.7778vw; /* 45px */
  top: 30px;
}
main #con2_shop .inner .product_wrap ul.product_list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.521vw; /* 10px */
}
main #con2_shop .inner .product_wrap ul.product_list li {
  width: 20.8335vw; /* 400px */
  height: 20.8335vw; /* 400px */
  position: relative;
}
main #con2_shop .inner .product_wrap ul.product_list li:hover::after {
  transition: opacity 0.75s;
  opacity: 0;
}
main #con2_shop .inner .product_wrap ul.product_list li::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(34, 34, 34, 0.5);
}
main #con2_shop .inner .product_wrap ul.product_list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main #con2_shop .inner .txt_wrap {
  width: 100%;
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 9;
  user-select: none;
  pointer-events: none;
}
main #con2_shop .inner .txt_wrap .desc_wrap {
  width: 100%;
  height: 51.111vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 39.259vh;
}
main #con2_shop .inner .txt_wrap .desc_wrap .desc_kor {
  font-size: 20px;
  line-height: 2.25; /* 45px */
  color: rgba(255, 255, 255, 0.2);
}
main #con2_shop .inner .txt_wrap .desc_wrap .desc_kor span {
  position: relative;
  width: max-content;
  background: linear-gradient(to right, #fff, #fff) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
}
main #con2_shop .inner .txt_wrap .desc_wrap .desc_eng {
  font-size: 18px;
  line-height: 1.75; /* 30px */
  text-align: right;
}
main #con2_shop .inner .txt_wrap .shop_category {
  position: absolute;
  left: 0;
  top: 74vh;
}
main #con2_shop .inner .txt_wrap .shop_category .shopCtg_wrap {
  width: 250px;
  height: 45px;
  font-size: 35px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}
main #con2_shop .inner .txt_wrap .shop_category .shopCtg_wrap ul.shopCtg_list {
  position: absolute;
  left: 0;
  top: 0;
}
main #con2_shop .inner .txt_wrap .shop_category h2 {
  font-size: 80px;
  font-family: "JalnanGothic";
}
main #con3_makingFilm .inner #bound-one {
  width: 100%;
  height: 100vh;
  background: #111;
  margin: 0 auto;
  flex-direction: row-reverse;
  position: sticky; /* 미리 sticky 설정 */
  top: 0; /* 화면 상단에 고정 */
  left: 0;
}
main #con3_makingFilm .inner #bound-one::before {
  content: "";
  display: block;
  width: 100%;
  height: 150px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 20%, rgb(17, 17, 17) 100%);
  position: absolute;
  left: 0;
  top: 0;
}
main #con3_makingFilm .inner #bound-one video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  transition: opacity 0.75s;
}