main #visual {
  height: 100vh;
  position: relative;
  padding: 0 11.1111111111vh; /* 120px */
}
main #visual video.visual_bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
}
main #visual div.intro_txt {
  color: #fff;
  position: absolute;
  left: 0;
  top: 41.1111111111vh; /* 444px */
}
main #visual div.intro_txt h2 {
  font-family: "JalnanGothic";
  font-size: 2.7777777778vh; /* 30px */
}
main #visual div.intro_txt p {
  margin-top: 5.5555555556vh; /* 60px */
}
main #visual div.intro_txt p span {
  display: block;
  font-size: 2.7777777778vh; /* 30px */
  line-height: 4.6296296296vh; /* 50px */
  color: #777;
  margin-top: 2.7777777778vh; /* 30px */
}
main #con1_3r {
  width: 100%;
  height: 100vh;
}
main #con1_3r ul.bg_img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
main #con1_3r ul.bg_img li {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(130%);
  transition: transform 5s ease-in-out;
}
main #con1_3r ul.bg_img li.on {
  transform: scale(100%);
}
main #con1_3r ul.bg_img li:nth-child(1) {
  background-image: url(../images/index/con1_3r_rememberBg.png);
  opacity: 1;
}
main #con1_3r ul.bg_img li:nth-child(2) {
  background-image: url(../images/index/con1_3r_rememberBg.png);
}
main #con1_3r ul.bg_img li:nth-child(3) {
  background-image: url(../images/index/con1_3r_rememberBg.png);
}
main #con1_3r .inner .desc_wrap {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
}
main #con1_3r .inner .desc_wrap ul.desc_list {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}
main #con1_3r .inner .desc_wrap ul.desc_list li {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main #con1_3r .inner .desc_wrap ul.desc_list li.on h3 {
  font-family: "JalnanGothic";
  color: #fff;
}
main #con1_3r .inner .desc_wrap ul.desc_list li.on p {
  opacity: 1;
}
main #con1_3r .inner .desc_wrap ul.desc_list li h3 {
  font-weight: 900;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.7);
}
main #con1_3r .inner .desc_wrap ul.desc_list li p {
  font-size: 20px;
  line-height: 35px;
  margin-top: 30px;
  color: #fff;
  opacity: 0;
}