@charset "UTF-8";
main {
  /* #visual ****************/
  /* #con1_3r ****************/
  /* #con2_shop ****************/
  /* #con3_makingFilm ****************/
}
main #visual {
  height: 100vh;
  position: relative;
  padding: 0 11.1111111111vh; /* 120px */
}
main #visual video.visual_bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
}
main #visual div.intro_txt {
  color: #fff;
  position: absolute;
  left: 0;
  top: 41.1111111111vh; /* 444px */
}
main #visual div.intro_txt h2 {
  font-family: "JalnanGothic";
  font-size: 2.7777777778vh; /* 30px */
}
main #visual div.intro_txt p {
  margin-top: 5.5555555556vh; /* 60px */
}
main #visual div.intro_txt p span {
  display: block;
  font-size: 2.7777777778vh; /* 30px */
  line-height: 4.6296296296vh; /* 50px */
  color: #777;
  margin-top: 2.7777777778vh; /* 30px */
}
main #con1_3r {
  width: 100%;
  height: 100vh;
}
main #con1_3r .bg_img {
  width: 100%;
  height: 100%;
  position: relative;
}
main #con1_3r .bg_img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  background: radial-gradient(circle, rgb(85, 85, 85) 0%, rgb(0, 0, 0) 100%);
  opacity: 0.7;
}
main #con1_3r .bg_img ul li {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(130%);
  transition: transform 5s ease-in-out;
}
main #con1_3r .bg_img ul li.on {
  transform: scale(100%);
}
main #con1_3r .bg_img ul li:nth-child(1) {
  background-image: url(../images/index/con1_3r_rememberBg.png);
}
main #con1_3r .bg_img ul li:nth-child(2) {
  background-image: url(../images/index/con1_3r_rememberBg.png);
}
main #con1_3r .bg_img ul li:nth-child(3) {
  background-image: url(../images/index/con1_3r_rememberBg.png);
}
main #con1_3r .inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
main #con1_3r .inner .desc_swiper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
}
main #con1_3r .inner .desc_swiper ul.desc_list {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}
main #con1_3r .inner .desc_swiper ul.desc_list li {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main #con1_3r .inner .desc_swiper ul.desc_list li.on h3 {
  font-family: "JalnanGothic";
  font-size: 60px;
  line-height: 60px;
  color: #fff;
}
main #con1_3r .inner .desc_swiper ul.desc_list li.on p {
  opacity: 1;
}
main #con1_3r .inner .desc_swiper ul.desc_list li h3 {
  font-weight: 900;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.7);
}
main #con1_3r .inner .desc_swiper ul.desc_list li p {
  width: fit-content; /* 560px */
  font-size: 18px; /* 0.9375vw */
  line-height: 35px; /* 1.8229166666666667vw */
  margin: 0 auto;
  margin-top: 30px;
  color: #fff;
}
main #con3_makingFilm #bound-one {
  width: 100%;
  height: 100vh;
  background: #111;
  margin: 0 auto;
  position: sticky; /* 미리 sticky 설정 */
  top: 0; /* 화면 상단에 고정 */
}
main #con3_makingFilm #bound-one::before {
  content: "";
  display: block;
  width: 100%;
  height: 150px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 20%, rgb(17, 17, 17) 100%);
  position: absolute;
  left: 0;
  top: 0;
}
main #con3_makingFilm #bound-one video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  transition: opacity 0.75s;
}