#header {
  background: rgba(17, 17, 17, 0.7);
}

main section {
  width: 100%;
  position: relative;
}
main section#makingStory {
  height: 300vh;
  color: #fff;
  background: #222;
}
main section#makingStory .inner {
  width: 100%;
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  overflow-x: hidden;
}
main section#makingStory .inner div#textContent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 1024px) {
  main section#makingStory .inner div#textContent {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 830px) {
  main section#makingStory .inner div#textContent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
main section#makingStory .inner div#textContent p {
  color: #fff;
  font-size: 5.2083vw; /* 100px*/
  font-family: "Times New Roman", Times, serif;
  display: flex;
  align-items: end;
  margin-bottom: -1.15vw; /* -20px */
  opacity: 0;
}
main section#makingStory .inner div#textContent p#making {
  grid-column: 1;
  grid-row: 2;
  justify-self: end;
}
@media (max-width: 830px) {
  main section#makingStory .inner div#textContent p#making {
    grid-column: 1;
    grid-row: 3;
    justify-self: start;
  }
}
main section#makingStory .inner div#textContent p#story {
  grid-column: 3;
  grid-row: 2;
  justify-self: center;
}
@media (max-width: 830px) {
  main section#makingStory .inner div#textContent p#story {
    grid-column: 2;
    grid-row: 4;
    justify-self: start;
  }
}
main section#makingStory .inner div#textContent p#popUp {
  grid-column: 2;
  grid-row: 3;
  justify-self: start;
}
@media (max-width: 830px) {
  main section#makingStory .inner div#textContent p#popUp {
    grid-column: 1;
    grid-row: 5;
  }
}
main section#makingStory .inner ul#story_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
@media (max-width: 830px) {
  main section#makingStory .inner ul#story_list {
    flex-direction: column;
  }
}
main section#makingStory .inner ul#story_list li.bgImg {
  width: 25%;
  height: 33.3333333333%;
  line-height: 24px;
  margin-right: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  opacity: 0;
}
main section#makingStory .inner ul#story_list li.bgImg:nth-child(3), main section#makingStory .inner ul#story_list li.bgImg:nth-child(4) {
  margin: 0;
  margin-left: 25%;
}
@media (max-width: 1024px) {
  main section#makingStory .inner ul#story_list li.bgImg {
    width: 33.3333333333%;
    height: 25%;
    margin-right: 0;
  }
  main section#makingStory .inner ul#story_list li.bgImg:nth-child(3), main section#makingStory .inner ul#story_list li.bgImg:nth-child(4) {
    margin-left: 0;
  }
  main section#makingStory .inner ul#story_list li.bgImg:nth-child(2), main section#makingStory .inner ul#story_list li.bgImg:nth-child(3), main section#makingStory .inner ul#story_list li.bgImg:nth-child(5), main section#makingStory .inner ul#story_list li.bgImg:nth-child(6) {
    margin-left: 33.3333333333%;
  }
  main section#makingStory .inner ul#story_list li.bgImg:nth-child(3) {
    margin-right: 33.3333333333%;
  }
}
@media (max-width: 830px) {
  main section#makingStory .inner ul#story_list li.bgImg {
    width: 50%;
    height: 16.6666666667%;
  }
  main section#makingStory .inner ul#story_list li.bgImg:nth-child(even), main section#makingStory .inner ul#story_list li.bgImg:nth-child(odd) {
    margin-left: 0;
    margin-right: 0;
  }
  main section#makingStory .inner ul#story_list li.bgImg:nth-child(odd) {
    margin-left: auto;
  }
}
@media (max-width: 480px) {
  main section#makingStory .inner ul#story_list li.bgImg {
    font-size: 12px;
  }
}
main section#makingStory .inner ul#story_list li.bgImg::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.6);
  position: absolute;
  left: 0;
  top: 0;
}
main section#makingStory .inner ul#story_list li.bgImg:nth-child(1) {
  background-image: url(../images/notice/popup01.png);
}
main section#makingStory .inner ul#story_list li.bgImg:nth-child(2) {
  background-image: url(../images/notice/popup02.png);
}
main section#makingStory .inner ul#story_list li.bgImg:nth-child(3) {
  background-image: url(../images/notice/popup03.png);
}
main section#makingStory .inner ul#story_list li.bgImg:nth-child(4) {
  background-image: url(../images/notice/popup04.png);
}
main section#makingStory .inner ul#story_list li.bgImg:nth-child(5) {
  background-image: url(../images/notice/popup05.png);
}
main section#makingStory .inner ul#story_list li.bgImg:nth-child(6) {
  background-image: url(../images/notice/popup06.png);
}
main section#makingStory .inner ul#story_list li.bgImg p {
  position: relative;
  z-index: 9;
}
main section#makingStory .inner .desc {
  width: 25%;
  text-align: start;
  padding-left: 2.6042vw; /* 50px */
  position: absolute;
  right: 0px;
  bottom: 47px;
}
@media (max-width: 1024px) {
  main section#makingStory .inner .desc {
    width: 33.3333333333%;
  }
}
@media (max-width: 830px) {
  main section#makingStory .inner .desc {
    width: 50%;
    bottom: 20px;
    right: 0;
  }
}
@media (max-width: 480px) {
  main section#makingStory .inner .desc {
    font-size: 12px;
  }
}
main section#makingStory .inner .desc p.desc_txt {
  line-height: 24px;
  margin-bottom: 11px;
}
main section#makingStory .inner .desc button.moreEvent a {
  display: block;
  line-height: 24px;
  text-decoration: underline;
}
main section#donation .inner {
  background-image: linear-gradient(to bottom, #222 0%, #888 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100vh;
  position: relative;
}
main section#donation .inner h2.title {
  height: 320px;
  text-align: center;
  color: #fff;
  font-size: 17.7083vw; /* 340px */
  font-family: "Times New Roman", Times, serif;
  line-height: 320px;
  letter-spacing: 5px;
  position: sticky;
  left: 0;
  top: calc(100vh - 320px);
  z-index: 9;
  user-select: none;
  pointer-events: none;
}
@media (max-width: 830px) {
  main section#donation .inner h2.title {
    height: 210px;
    line-height: 210px;
    font-size: 15vw;
  }
}
@media (max-width: 480px) {
  main section#donation .inner h2.title {
    height: auto;
    line-height: 2;
    font-size: 15vw;
  }
}
main section#donation .inner h2.title span {
  font-family: "Times New Roman", Times, serif;
}
main section#donation .inner ul#donationList {
  width: 73.9583vw; /* 1420px */
  margin: 0 auto;
  padding-bottom: 18.5185vh; /* 200px */
}
@media (max-width: 1280px) {
  main section#donation .inner ul#donationList {
    width: 900px;
  }
}
@media (max-width: 1024px) {
  main section#donation .inner ul#donationList {
    width: 800px;
  }
}
@media (max-width: 830px) {
  main section#donation .inner ul#donationList {
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }
}
main section#donation .inner ul#donationList li {
  opacity: 0;
  pointer-events: none;
}
main section#donation .inner ul#donationList li:nth-child(even) figure {
  margin-left: auto;
}
main section#donation .inner ul#donationList li:not(:first-child) {
  margin-top: -45px;
}
@media (max-width: 1024px) {
  main section#donation .inner ul#donationList li:not(:first-child) {
    margin-top: 45px;
  }
}
main section#donation .inner ul#donationList li figure {
  width: fit-content;
  pointer-events: all;
}
@media (max-width: 830px) {
  main section#donation .inner ul#donationList li figure {
    width: 100%;
  }
}
main section#donation .inner ul#donationList li figure:hover img {
  opacity: 1;
}
main section#donation .inner ul#donationList li figure img {
  opacity: 0.8;
}
@media (max-width: 830px) {
  main section#donation .inner ul#donationList li figure img {
    width: 100%;
  }
}
main section#donation .inner ul#donationList li figure figcaption {
  margin-top: 20px;
  font-weight: bold;
  color: #fff;
}