main {
  //* #visual ****************/
  #visual {
    height: 500vh;
    position: relative;
    video.visual_bg {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      user-select: none;
      pointer-events: none;
      position: sticky;
      left: 0;
      top: 0;
    }
    .inner {
      max-width: 100%;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      padding-bottom: 22.2222vh; /* 240px */
      div.intro_txt {
        width: 100%;
        padding: 0 11.11111111111111vh; /* 120px */
        color: #fff;
        position: sticky;
        left: 0;
        top: 41.11111111111111vh; /* 444px */
        h2.visual_title {
          width: fit-content;
          font-family: "JalnanGothic";
          // font-size: 2.7777777777777777vh; /* 30px */
          font-size: 37.037vh; /* 400px 37.0370vh */
          margin-left: auto; /* 300px */
          padding-top: 25vh; /* 240px */
          transform: translateX(10%);
        }
        p {
          margin-top: 5.555555555555555vh; /* 60px */
          // color: #777;
          color: rgba(255, 255, 255, 0.2);
          span {
            display: block;
            font-size: 2.7777777777777777vh; /* 30px */
            // line-height: 4.62962962962963vh; /* 50px */
            // margin-top: 2.7777777777777777vh; /* 30px */

            position: relative;
            width: max-content;
            background: linear-gradient(to right, #fff, #fff) no-repeat;
            -webkit-background-clip: text;
            background-clip: text;
            background-size: 0%;
            transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
          }
        }
      }
    }
  }

  //* #con1_3r ****************/
  #con1_3r {
    width: 100%;
    height: 300vh;
    .outer{
      width: 100%;
      height:100vh;
      position: sticky;
      left:0;
      top:0;
      overflow: hidden;
      .bg_img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        &::before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 9;
          background: radial-gradient(circle, #555 0%, #000 50%);
          opacity: 0.5;
        }
  
        ul {
          width: 100%;
          height: 100%;
          position: relative;
          li {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: absolute;
            left: 0;
            top: 0;
            transform: scale(130%);
            transition: transform 3s, opacity 0.5s;
            opacity: 0;
            &.on {
              // transform: scale(100%);
              opacity: 1;
            }
            &.remember {
              background-image: url(../images/index/con1_3r_rememberBg.png);
            }
            &.rescue {
              background-image: url(../images/index/con1_3r_rescueBg.png);
            }
            &.recycle {
              background-image: url(../images/index/con1_3r_recycleBg.png);
            }
          }
        }
      }
      .inner {
        width: 100%;
        height: 100%;
        z-index: 9;
        .desc_wrap {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 9;
          ul.desc_list {
            width: fit-content;
            height: 100%;
            display: flex;
            position: absolute;
            transition: 0.5s;
            li {
              width: calc(100vw / 3);
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align: center;
              &.on {
                h3 {
                  font-family: "JalnanGothic";
                  font-size: 3.1250vw; /* 60px */
                  line-height: 1.5;
                  letter-spacing: 0.2083vw; /* 4px */
                  color: #fff;
                }
                p {
                  opacity: 1;
                  display: block;
                  // transition: opacity 3s;
                }
              }
              h3 {
                font-weight: 900;
                font-size: 2.0833vw; /* 40px */
                color: rgba(255, 255, 255, 0.7);
              }
              p {
                width: fit-content; /* 560px */
                font-size:  18px; /* 0.9375vw */
                line-height: 1.9; /* 35px */
                margin: 0 auto;
                margin-top: 1.5625vw; /* 30px */
                color: #fff;
                word-break: keep-all;
                word-wrap: break-word;
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }

  //* #con2_shop ****************/
  #con2_shop {
    .inner {
      width: 87.5vw; /* 1680px */
      color: #fff;
      .product_wrap {
        width: 42.188vw; /* 810px */
        position: absolute;
        right: 2.7778vw; /* 45px */
        top: 30px;
        ul.product_list {
          display: flex;
          flex-wrap: wrap;
          gap: 0.521vw; /* 10px */
          li {
            width: calc((42.188vw - 0.521vw) / 2); /* 400px */
            height: calc((42.188vw - 0.521vw) / 2); /* 400px */
            position: relative;
            &:hover::after {
              transition: opacity 0.75s;
              opacity: 0;
            }
            &::after {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              top: 0;
              background: rgba(34, 34, 34, 0.5);
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      .txt_wrap {
        width: 100%;
        height: 100vh;
        position: sticky;
        left: 0;
        top: 0;
        z-index: 9;
        user-select: none;
        pointer-events: none;
        .desc_wrap {
          width: 100%;
          height: 51.111vh;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: absolute;
          left: 0;
          top: 39.259vh;
          .desc_kor {
            font-size: 20px;
            line-height: 2.25; /* 45px */
            // color: #777777;
            color: rgba(255, 255, 255, 0.2);

            span {
              position: relative;
              width: max-content;
              background: linear-gradient(to right, #fff, #fff) no-repeat;
              -webkit-background-clip: text;
              background-clip: text;
              background-size: 0%;
              transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
            }
          }
          .desc_eng {
            font-size: 18px;
            line-height: 1.75; /* 30px */
            text-align: right;
          }
        }
        .shop_category {
          position: absolute;
          left: 0;
          top: 74vh;
          .shopCtg_wrap {
            width: 250px;
            height: 45px;
            font-size: 35px;
            font-weight: bold;
            position: relative;
            overflow: hidden;
            // border: 1px solid #fff;
            ul.shopCtg_list {
              position: absolute;
              left: 0;
              top: 0;
            }
          }
          h2 {
            font-size: 80px;
            font-family: "JalnanGothic";
          }
        }
      }
    }
  }

  //* #con3_makingFilm ****************/
  #con3_makingFilm {
    .inner {
      #bound-one {
        width: 100%;
        height: 100vh;
        background: #111;
        margin: 0 auto;
        flex-direction: row-reverse;
        position: sticky; /* 미리 sticky 설정 */
        top: 0; /* 화면 상단에 고정 */
        left: 0;
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 150px;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0) 20%, rgba(17, 17, 17, 1) 100%);

          position: absolute;
          left: 0;
          top: 0;
        }
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center bottom;
          transition: opacity 0.75s;
        }
      }
    }
  }
}
