#header {
  background: rgba(17, 17, 17, 0.7);
}
// #topBtn{display: none;}
main {
  section {
    width: 100%;
    position: relative;
    &#makingStory {
      height: 300vh;
      color: #fff;
      background: #222;
      .doScroll {
        width: 40px;
        height: 60px;
        border-radius: 999px;
        border: 2px solid #fff;
        display: flex;
        justify-content: center;
        padding-top: 15px;
        position: absolute;
        left: 50%;
        bottom: 60px;
        margin-left: -20px;
        animation: scrollAni 2s infinite linear;

        @keyframes scrollAni {
          0% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(20%);
          }
          100% {
            transform: translateY(0);
          }
        }
        &.none {
          display: none;
        }
        &::before {
          content: "SCROLL";
          display: block;
          font-size: 10px;
          letter-spacing: 1px;
          position: absolute;
          bottom: -25px;
        }
        &::after {
          content: "";
          display: block;
          background: #fff;
          width: 4px;
          height: 12px;
          border-radius: 99px;
          animation: scaleAni 2s infinite linear;
        }
        @keyframes scaleAni {
          0% {
            margin-top: 0;
          }
          50% {
            margin-top: 5px;
          }
          100% {
            margin-top: 0;
          }
        }
      }
      .inner {
        width: 100%;
        height: 100vh;
        position: sticky;
        left: 0;
        top: 0;
        div#textContent {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: 1fr 1fr 1fr;
          position: absolute;
          left: 0;
          top: 0;
          p {
            color: #fff;
            font-size: 5.2083vw; /* 100px*/
            font-family: "Times New Roman", Times, serif;
            display: flex;
            align-items: end;
            margin-bottom: -1.15vw; /* -20px */
            opacity: 0;
            &#making {
              grid-column: 1;
              grid-row: 2;
              justify-self: end;
            }
            &#story {
              grid-column: 3;
              grid-row: 2;
              justify-self: center;
            }
            &#popUp {
              grid-column: 2;
              grid-row: 3;
              justify-self: start;
            }
          }
        }
        ul#story_list {
          width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          text-align: center;
          li.bgImg {
            width: calc(100% / 4);
            height: calc(100% / 3);
            line-height: 24px;
            margin-right: calc(100% / 4);
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            opacity: 0;
            &:nth-child(3),
            &:nth-child(4) {
              margin: 0;
              margin-left: calc(100% / 4);
            }
            &::after {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              background: rgba(17, 17, 17, 0.6);
              position: absolute;
              left: 0;
              top: 0;
            }
            &:nth-child(1) {
              background-image: url(../images/notice/popup01.png);
            }
            &:nth-child(2) {
              background-image: url(../images/notice/popup02.png);
            }
            &:nth-child(3) {
              background-image: url(../images/notice/popup03.png);
            }
            &:nth-child(4) {
              background-image: url(../images/notice/popup04.png);
            }
            &:nth-child(5) {
              background-image: url(../images/notice/popup05.png);
            }
            &:nth-child(6) {
              background-image: url(../images/notice/popup06.png);
            }
            p {
              position: relative;
              z-index: 9;
            }
          }
        }
        .desc {
          width: calc(100% / 4);
          text-align: start;
          padding-left: 2.6042vw; /* 50px */
          position: absolute;
          right: 0px;
          bottom: 47px;
          p.desc_txt {
            line-height: 24px;
            margin-bottom: 11px;
          }
          button.moreEvent {
            a {
              display: block;
              line-height: 24px;
              text-decoration: underline;
            }
          }
        }
      }
    }
    &#donation {
      background-image: linear-gradient(to bottom, #222 30%, #888 100%);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100% 100vh;
      .inner {
        position: relative;
        h2.title {
          height: 320px;
          text-align: center;
          color: #fff;
          font-size: 17.7083vw; /* 340px */
          font-family: "Times New Roman", Times, serif;
          line-height:320px;
          letter-spacing: 5px;
          position: sticky;
          left: 0;
          top: calc(100vh - 320px);
          z-index: 9;
          user-select: none;
          span {
            font-family: "Times New Roman", Times, serif;
          }
        }
        ul#donationList {
          // max-width: 1420px;
          width: 73.9583vw; /* 1420px */
          margin: 0 auto;
          padding-bottom: 18.5185vh; /* 200px */
          li {
            opacity: 0;
            pointer-events: none;
            &:nth-child(even) {
              figure {
                margin-left: auto;
              }
            }
            &:not(:first-child) {
              margin-top: -45px;
            }
            figure {
              width: fit-content;
              pointer-events: all;
              &:hover img {
                opacity: 1;
              }
              img {
                opacity: 0.5;
              }
              figcaption {
                margin-top: 20px;
                font-weight: bold;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
